/* Pievienot todo-ieraksts CSS kodu */
.todo-ieraksts {
    font-weight: bold;
}

.todo-ieraksts__teksts {
    text-decoration: underline;
}

input[type=checkbox]:checked + .todo-ieraksts__teksts {
    text-decoration: line-through;
}