/* Pievienot todo-ieraksts CSS kodu */
.todo-ieraksts {
    font-weight: bold;
    display: flex;
}

.todo-ieraksts .konteineris {
    flex-grow: 1;
}

.todo-ieraksts__teksts {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
}

.todo-ieraksts__teksts:hover {
    transform: scale(1.1);
}

.todo-ieraksts__statuss:checked + .konteineris .todo-ieraksts__teksts {
    text-decoration: line-through;
    text-decoration-thickness: 5px;
}

.todo-ieraksts_dzest {
    background: #ffacac;
    border: 1px solid red;
    color: darkred;
    align-self: start;
}

.todo-ieraksts_dzest:hover {
    background: red;
    color: white;
}